@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

header > nav > figure > a > img, header > nav > div > a > img {
    width: 140px;
}

/* First Level [Dropdown] elements (action when a:hover -> turn text to green color)*/
nav > .container > div > ul > li > a:hover {
    color: #198754!important;
}

/* First Level [Dropdown] elements (action when [#tags]li:hover)*/
nav > .container > div > ul > li:hover {
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #f5f5f5;
    box-shadow: 2px 4px 18px #18181818;
}

/* Second Level [Dropdown] elements ([#tags]ul display)*/
nav > .container > div > ul > li > ul {
    display: none;
    list-style: none;
}

/* Second Level [Dropdown] elements ([#tags]ul display on first level on action hover)*/
nav > .container > div > ul > li:hover > ul {
    position: absolute;
    display: block!important;
    padding: 0 1em;
    background-color: white;
    border-radius: 10px;
    border-top-left-radius: 0;
    border: 1px solid #f5f5f5;
    box-shadow: 2px 4px 18px #18181818;
}

/* Second Level [Dropdown] elements ([#tags]A display on [#tags]a first level on action hover)*/
nav > .container > div > ul > li:hover > ul > li > a {
    text-decoration: none;
    text-align: left;
    display: inline-block;
    padding: .25em 0;
}

/* Second Level [Dropdown] elements (action when a:hover -> turn text to green color)*/
nav > .container > div > ul > li:hover > ul > li > a:hover {
    color: #198754!important;
}

/* Third Level [Dropdown] elements ([#tags]ul display)*/
nav > .container > div > ul > li > ul > li > ul {
    display: none;
    list-style: none;
}

/* Third Level [Dropdown] elements ([#tags]ul display when second level [#tags]li on action hover)*/
nav > .container > div > ul > li > ul > li:hover > ul {
    position: absolute;
    display: inherit;
    top: 2em;
    background: white;
    border-radius: 10px;
    transform: translateX(11em);
    padding: 0 1em;
    border: 1px solid #f5f5f5;
    box-shadow: 2px 4px 18px #18181818;
}

/* Third Level [Dropdown] elements ([#tags]a display when second level [#tags]li on action hover)*/
nav > .container > div > ul > li > ul > li:hover > ul > li > a {
    text-decoration: none;
    text-align: left;
    display: inline-block;
    padding: .25em 0;
}

/* ThirdLevel [Dropdown] elements (action when a:hover -> turn text to green color)*/
nav > .container > div > ul > li > ul > li:hover > ul > li > a:hover {
    color: #198754!important;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: .5em;
    height: .5em;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	background-color: #aeaeae;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #32A165;
}

* {
    box-sizing: border-box;
}

.nav-contact a {
    color: #c8c8c8;
}

.nav-contact a:hover, .nav-contact a:focus {
    color: #a1a1a1;
}

.nav-menu li a {
    padding: .5em;
}

.nav-menu img {
    width: 36px;
    height: 36px;
}

.home-column img {
    width: 100vw;
    height: 90vh;
    object-fit: cover;
}

.home-column h1.right {
    font-size: 4em;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 70%;
    width: 45%;
    transform: translate(-50%, -50%);
}

.home-column h1.left {
    font-size: 4em;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 30%;
    width: 45%;
    transform: translate(-50%, -50%);
}

.home-column h1.center {
    font-size: 4em;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45%;
    transform: translate(-50%, -50%);
}

.overlay-col {
    font-size: 5em;
    text-shadow: 4px 4px 36px #18181818;
}


/* Extra Large */
@media screen and (max-width: 1200px) {
    .overlay-col {
        font-size: 4em;
    }
}

/* Large */
@media screen and (max-width: 960px) {
    nav > .container > div > ul {
        margin: 0;
        padding: 0;
    }
    nav > .container > div > ul > li:hover {
        border-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 1px solid #f5f5f5;
    }
    nav > .container > div > ul > li:hover > ul {
        position: relative;
        display: block!important;
        padding: 0 1em;
        background-color: white;
        border-radius: 10px;
        border-top-left-radius: 0;
        border: 1px solid #f5f5f5;
        box-shadow: 2px 4px 18px #18181818;
    }
    nav > .container > div > ul > li > ul > li:hover > ul {
        position: relative;
        display: inherit;
        top: 0em;
        background: #e6e6e6;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        transform: translateX(-1.2em);
        padding: 0 1.2em;
        border: none;
        box-shadow: 2px 4px 18px #18181818;
    }
    #navbar {
        display: none;
    }
    .home-column img {
        height: 60vh;
    }
    .home-column h1.right {
        font-size: 3em;
        text-align: center;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 70%;
        width: 44%;
        transform: translate(-50%, -50%);
    }
    .home-column h1.left {
        font-size: 3em;
        text-align: center;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 30%;
        width: 45%;
        transform: translate(-50%, -50%);
    }
    
    .home-column h1.center {
        font-size: 3em;
        text-align: center;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 45%;
        transform: translate(-50%, -50%);
    }
    .overlay-col {
        font-size: 3em;
    }
}


/* Medium */
@media screen and (max-width: 720px) {
    .home-column h1.right {
        font-size: 2.5em;
        text-align: center;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 70%;
        width: 50%;
        transform: translate(-50%, -50%);
    }

    .overlay-col {
        font-size: 2.5em;
    }
}

/* Small */
@media screen and (max-width: 540px) {
    .home-column h1.right {
        font-size: 2em;
        text-align: center;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 70%;
        width: 50%;
        transform: translate(-50%, -50%);
    }
    .home-column h1.left {
        font-size: 2em;
        text-align: center;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 30%;
        width: 50%;
        transform: translate(-50%, -50%);
    }
    
    .home-column h1.center {
        font-size: 2em;
        text-align: center;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        transform: translate(-50%, -50%);
    }
    .overlay-col {
        font-size: 2.5em;
    }
}
.header-bg{
    display: grid;
    grid-template-columns: repeat(2,auto);
    background-color:#B3A193;
    gap: 10rem;
}
.img-h1 img{
    width: 100%;
    height: 100%;
}
.header-v{
    padding:  17rem;
}
.header-v h1,.breadcrumb{
    font-size: 60px;
    font-weight: bold;
}
.header-bg2,.con-dt,.ct-dt,.header-j p{
    margin: 5rem;
    text-align: center;
}
.line{
    border-right: 2px solid rgb(223, 223, 223);
    padding-right: 0.3rem;

}
.ct-dt{
    display: grid;
    grid-template-columns: repeat(3,auto);
}
.p-head, .con-dt{
    color: #333333;
}
.p-un,.header-j p{
    color: #aeaeae;
}
#floatingTextarea2{
    height: 200px;
}
.bar-input{
    margin: 3rem;
}
.header-j{
    margin: 0;
}
.header-j h1{
    font-size: 40px;
    font-weight: bold;
}
.bar-input{
    padding-bottom: 5rem;
}